---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getBlogs, sortBlogs } from "../../utils";
import Typography from "../../components/typography/Typography.astro";

const posts = await getBlogs();
const sortedPosts = sortBlogs(posts);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul li :global(time) {
        flex: 0 0 5.625rem;
        font-style: italic;
        color: #595959;
      }
    </style>
  </head>
  <BaseLayout>
    <main class="flex-grow px-6 py-4">
      <section>
        <ul class="list-none p-4">
          <li>
            <Typography variant="title" size="lg">Coding Posts</Typography>
          </li>
          {
            sortedPosts.map((post) => (
              <li class="group flex gap-4">
                <FormattedDate date={post.data.pubDate} />
                <a
                  class="visited:text-primary group-hover:text-secondary"
                  href={`/blog/${post.slug}/`}
                >
                  {post.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </BaseLayout>
</html>
