---
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  SITE_TAGLINE,
  SITE_SUBLINE,
} from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { getBlogs, sortBlogs } from "../utils";
import Typography from "../components/typography/Typography.astro";

const posts = await getBlogs();
const sortedPosts = sortBlogs(posts);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="flex-grow md:px-6 md:py-4">
    <!-- <Typography as="h2" variant="display" class="text-secondary mb-2"
      >{SITE_TAGLINE}</Typography
    >
    <Typography as="h5" variant="title" class="mb-4">{SITE_SUBLINE}</Typography> -->

    <div
      class="flex h-full flex-wrap items-stretch justify-center gap-4 rounded-lg px-4 py-8"
    >
      {
        sortedPosts.map((post) => {
          return <ArticleCard postData={post.data} postSlug={post.slug} />;
        })
      }
    </div>
  </main>
</BaseLayout>
