---
interface Props {
  postData: {
    title: string;
    description: string;
    pubDate: Date;
    updatedDate?: Date | undefined;
    heroImage?: string | undefined;
  };
  postSlug: string;
}
import FormattedDate from "./FormattedDate.astro";
let { postData, postSlug } = Astro.props;
---

<article class="article-card border-b border-dashed mt-8 w-11/12 lg:w-1/2">
  <a href={`/blog/${postSlug}`}
    ><h1
      class="text-lg text-accent-content hover:text-accent-focus focus:text-accent-focus"
    >
      {postData.title}
    </h1></a
  >
  <div class="post-meta">
    <span class="post-publish text-base-content text-sm"
      >Published on <FormattedDate date={postData.pubDate} /></span
    >
    <div class="content py-2">
      <p>{postData.description}</p>
    </div>
    <a href={`/blog/${postSlug}`}
      ><p
        class="text-accent hover:text-accent-focus focus:text-accent-focus text-sm mb-5"
      >
        Read More
      </p></a
    >
  </div>
</article>
