---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import ProgressMenu from "../components/ProgressMenu.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

let heroBackground =
  "background: linear-gradient(oklch(var(--a)), oklch(var(--s)));";
if (heroImage) {
  heroBackground = `background-image: url(${heroImage.src});`;
}
---

<BaseLayout title={title} description={description}>
  <div class="progress-wrapper w-full flex justify-center sticky top-0">
    <progress
      class="progress progress-accent w-full opacity-80"
      value="100"
      max="100"></progress>
  </div>
  <main class="flex flex-col justify-center">
    <div class="hero min-h-[60vh]" style={heroBackground}>
      <div class="hero-overlay bg-opacity-75"></div>
      <div
        class="hero-content text-center text-base-content md:bg-base-300 md:bg-opacity-90 rounded-md"
      >
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">{title}</h1>
          <p class="mb-5">{description}</p>
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
      </div>
    </div>
    <article
      class="prose lg:prose-lg p-8 w-screen prose-p:text-base-content prose-li:text-base-content mx-auto"
    >
      <hr />
      <slot />
    </article>
  </main>
  <ProgressMenu title={title} />
</BaseLayout>
