---
import type { CollectionEntry } from "astro:content";
import { Picture } from "@astrojs/image/components";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main class="flex justify-center">
    <article
      class="prose lg:prose-lg p-8 w-screen prose-p:text-base-content prose-li:text-base-content"
    >
      {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
      <h1 class="text-center">{title}</h1>
      <FormattedDate date={pubDate} />
      {
        updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
      <hr />
      <slot />
    </article>
  </main>
</BaseLayout>
